
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: auto;
    width: 100vw;
    font-family: 'Roboto', normal;
    font-weight: 400;

}

main {
    background: #EBEBEB;
}

.title-section{
    display: flex;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}

.title-section > a {
    padding-left: 1.3rem;
    color: #3483FA;
    font-weight: 400;
    font-size: 15px;
}

.title-section > h2 {

    font-weight:300;
    font-size: 25px;
    line-height: 31px;
    color: #666666;
}

/* Sección header*/

header {
    height: 100px;
    background: #FFF159;
}

nav {
    
    padding-inline: 13rem;
    padding-block: 0.7rem;
    font-size: 13px;
}

nav * a{
    text-decoration: none;
    color: black;
}

.input-group > input::placeholder {
    color: rgba(0, 0, 0, 0.25);    
    font-size: 15px;
    border-right: 1px solid #E6E6E6;
}

.input-group-append > button{
    width: 30px;
    border-left: 1px solid #E6E6E6;}

.login {
    padding-inline-end: 2rem;
}


.navbar-list{
    color: rgba(51, 51, 51, 0.6);
    padding-inline-end: 12rem;
    gap: 1.2rem;
} 

/*Sección novedades*/

.novedades {
    display: flex;
    justify-content: center;
    align-items: end;
}

.novedades > img {
    position: absolute;
    margin-bottom: 1rem;
}

.img-novedades {
    width: 100vw;
}
article {
    padding-inline: 13rem;
}

/*Sección Pagos*/

.pagos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    margin-top: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    
}

.items-pagos {
    display: flex;
    align-items: center;
    
}

.items-pagos:last-child {
    border-left: 1px solid #EEEEEE;
    height: 100%;
    padding-left: 1rem;
}

.texto-pagos{
    
}

.texto-pagos>p{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 0;
    
}

.texto-pagos > a {
    
    font-size: 13px;
    color: #3483FA;
    text-decoration: none;
}

/* Sección Ofertas*/

.ofertas > h2 {
    padding-bottom: 1rem;
}
.list-cards {
    display: flex;
    flex-direction:row;   
    justify-content: space-between;
    width: 100%; 
}

.card {
    height: 350px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.card-precios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.precios {
    display: flex;
    
    align-items: center;
}

.precios > span:first-child {
    font-size: 23px;
    line-height: 24px;
}

.precios > span:nth-child(2) {
    color: #00A650;   
    font-size: 14px;
    line-height: 16px;
    padding-left: .5rem;
    
}

.envio{
    display: flex;
}

.envio > p {
    padding-top: .3rem;
    padding-right: .3rem;
    color: #00A650;
    font-weight: 600;
    font-size: 13px;
}

.envio > svg {
    margin-top: .3rem;
}

/* Sección Suscripción*/

.suscripcion {
    margin-top: 3.5rem;
    background-color: #FFFFFF;
    height: 340px;
    border-radius: 6px;
}

.suscripcion-header > h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.suscripcion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: 87px;
    padding-inline: 1.5rem;
    border-radius: 6px 6px 0px 0px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);}

.suscripcion-price {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
    border-left: 2px solid #FFFFFF;
}

.suscripcion-price > span:first-child {
    text-align: left;
    text-decoration-line: line-through;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}
.suscripcion-price > span:last-child {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
}

.span-mes {
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
}

.suscripcion-container {
    padding-top: 1.5rem;
}

.suscripcion-election {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}


.suscripcion-container > p{
    padding-left: 1.5rem;
    font-size: 17px;
    margin-bottom: 0;
}

.suscripcion-tipos {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 5rem;
} 
.suscripcion-tipos > p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 16px;
    padding-left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.suscripcion-tipos > svg {
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.suscripcion-tipos > img{
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.suscripcion-button {
    display: flex;
    justify-content: end;
    padding-block: 1rem;
    padding-inline: 2rem;
    border-top: 1px solid #EDEDED;
    
}

.suscripcion-button > button {
    background: #3483FA;
    border-radius: 6px;
    color: white;
    border: none;
    padding-inline: 24px;
    padding-block: 13px;
    cursor: pointer;
}

/*Sección Beneficios puntos*/

.list-puntos {
    display: flex;
}

.card-puntos {
    padding-right: 1rem;
}
.card-puntos > img {
    border-radius: 4px;
}

.mercado-puntos{
    display: flex;
    flex-direction: column;
}

/*Sección Descubre */

.descubre-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

a > img{
    width: auto;
}

.descubre-item{
    display: flex;
    justify-content: space-between;
    width: 584px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-weight: 600;

}

.descubre-texto > h3 {
    font-size: 28px;
    line-height: 31px;
    color: #4B4B4B;
    text-transform: uppercase;
}

.descubre-texto > p {
    font-size: 12px;
    line-height: 12px;
    color: #4B4B4B;
    letter-spacing: 4px;
    text-transform: uppercase;
}	

.descubre-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.descubre-texto > button{
    background: #3483FA;
    width: 96px;
    height: 36px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    line-height: 1px;
}

.descubre-item  > img {
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
}

/*Sección Tiendas*/

.tiendas-list {
    display: flex;
}

.tiendas > h2 {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}

.items-tiendas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    height: 340px;
    margin-right: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.items-tiendas > img {
    position: absolute;
    height: 95px;
    transform: translateY(50%);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.background-tienda {
    width: 284px;
    height: 95px;

}

.product-container > h3 {
    padding-bottom: 1.5rem;
    padding-top: 2.5rem;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
}

.product-items > a > img{
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    cursor: pointer;
}

.product-container > a {
    padding-top: 1rem;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #999999;
    text-decoration: none;
}

.product-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section > h2 > span{
    font-weight: 600;
    font-size: 26px;
}


/* Sección Colecciones */

.colecciones-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.items-colecciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.8rem ;
}

.items-colecciones > a > img {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Sección Categorías populares*/

.lista-categorias {
    background-color: #FFFFFF;
}

.items-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    width: 170px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #EAE6E6;
}

.items-categorias > p {
    text-align:center;
    font-size: 14px;
    line-height: 16px;
    padding-top: 1rem;
    padding-inline: 1rem;
    margin-bottom: 0;
}

.lista-categorias {
    display: flex;
    flex-wrap: wrap;
    width: 1190px;
    border-radius: 6px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;

}

/* Sección beneficios mercado */

.beneficios-mercado {
    display: flex;
    align-items: center;
    padding-top: 0;
    background: #FFFFFF;
    height: 300px;
    padding-inline: 13rem;
}

.items-beneficios {
    text-align: center;
}

.items-beneficios > p{
    padding-block: 0.5rem;
    font-size: 15px;
    line-height: 18px;
    color: #999999;
    padding-inline: 2.3rem;
    margin-bottom: 0;
}



.items-beneficios > svg{
    margin-top: 4rem;
}
.items-beneficios > h3{
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    padding-top: 1rem;
    color: #4B4B4B;
    margin-bottom: 0;
}

.items-beneficios > a {
    font-size: 13px;
    line-height: 15px;
    color: #3483FA;
    text-decoration: none;
}


/* Sección footer*/

footer {
    height: 156px;
    margin-top: 5rem;
    padding-inline: 13rem;
    background: #FFFFFF;
    border-top: 1px solid #E6E6E6;
}

.info-footer {
    display: flex;
    flex-direction: column;
}

.items-footer {
    display: flex;
    gap: 1.6rem;
    padding-top: 1rem;
}

.items-footer > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #333333;
    margin-bottom: 0;
}

.copy-footer{
    padding-block: .5rem;
}
.copy-footer > p{
    padding-bottom: .5rem;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #999999;
    margin-bottom: 0;

}

.pngs-footer {
    padding-top: 1rem;
    border-top: 1px solid #EDEDED;
}
.pngs-footer > img:first-child{
    padding-right: 20px;
    
}
